# Django - Framework para codar e rodar o projeto
asgiref==3.3.1
django==3.1.7
pytz==2021.1
sqlparse==0.4.1

# Heroku - Deploy da aplicação
gunicorn==20.0.4

# Decouple
python-decouple==3.4

#Dj-database-url
 dj-database-url==0.5.0

#Postgres
psycopg2-binary==2.8.6

# Django S3 Folder Storage
boto3==1.17.26
botocore==1.20.27
django-s3-folder-storage==0.5
django-storages==1.11.1
jmespath==0.10.0
python-dateutil==2.8.1
s3transfer==0.3.4
six==1.15.0

# Collectfast
Collectfast==2.2.0
typing-extensions==3.7.4.3

# Django Debug Toolbar
django-debug-toolbar==3.2

# Sentry
sentry-sdk==1.0.0
