.phone-telegram-whats{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.bg{
    background-color: black;
}

.NavBackground {
    border-color: rgba(34, 34, 34, 0.05);
    background-color: white;
}

.spacetxt{
    margin-bottom: 1rem !important;
    font-size: 2rem;
}

@media screen and (max-width: 500px) {
    .spacetxt {margin-top: 6rem !important;
               font-size: 2rem;}
}

.imgback{
    background-repeat:no-repeat;
	background-size:contain;
    background-position: center;
	height: 600px;
}

.rights{
    background-color: black;
}
